<h3> Search for the movie according to Mercury's position to Earth</h3>

<form action="search/results">

<label>
    Title:
    <input type="text" name="titlename">

</label>

<button>Search only with the energy of 100 moons</button>

</form>