<h2>Magic Eight Balls</h2>

<form action="/magiceightball/questionasked">

<label>
    Question to Ask the Ball:
    <input type="text" name="qstn">

</label>

    <button>Find the Answer!</button>

</form>

